<h1>Welcome To CSE Motors</h1>
<%- messages() %>

<section id="hero">
<ul>
  <li><h2>DMC Delorean</h2></li>
  <li>3 Cup holders</li>
  <li>Superman doors</li>
  <li>Fuzzy dice!</li>
  <li><button id="actionbtn">Own Today</button></li>
</ul>

</section>
<div class="flex-content">
<section id="review">
  <h2>DMC Delorean Review</h2>
  <ul>
    <li>The DeLorean’s stainless-steel body and gull-wing doors make it unforgettable. Not fast, but undeniably stylish.</li>
    <li>Cool to look at, less fun to drive. Slow acceleration, but guaranteed attention everywhere you go.</li>
    <li>An absolute dream for Back to the Future fans — a timeless piece of pop culture on wheels.</li>
    <li>Unique design, tricky maintenance. Great showpiece, not built for daily use.</li>
    <li>A bold car ahead of its time. The upcoming electric version could bring the legend back to life.</li>
  </ul>
</section>  
<section id="add-ons">
  <h2>Delorean Upgrades</h2>
  <div class="flex">
    <a href="#" title="flux-capacitor">
      <figure>

    <div class="add-col">
      <img src="./images/upgrades/flux-cap.png" alt="flux-Capacitor"></div>
      <figcaption>Flux Capacitor</figcaption>
      </figure>
    </a>
    <a href="#" title="flame decals">
      <figure>
        <div class="add-col"><img src="./images/upgrades/flame.jpg" alt="flame decal"></div>
        <figcaption>Flame Decals</figcaption>
      </figure>
    </a>

  </div>
  <div class="flex">
    <a href="#" title="bumper stickers">
      <figure>
        <div class="add-col"><img src="./images/upgrades/bumper_sticker.jpg" alt="bumper stickers"></di>
          <figcaption>Bumper Sticker</figcaption>
      </figure>
        </a>
      <a href="#" title="hub caps">
        <figure>
          <div class="add-col"><img src="./images/upgrades/hub-cap.jpg" alt="Hub Caps"></div>
        </figure>
      </a>
  </div>
</section>
</div>