<h1>Welcome To CSE Motors</h1>
<!-- <div id="own">
  <img src="/images/site/own_today.png" />  
</div> -->
<%- message %>

<section id="hero">
<ul>
  <li><h2>DMC Delorean</h2></li>
  <li>3 Cup holders</li>
  <li>Superman doors</li>
  <li>Fuzzy dice!</li>
  <li><button id="actionbtn">Own Today</button></li>
</ul>

</section>
<div class="flex-content">
<section id="review">
  <h2>DMC Delorean Review</h2>
  <ul>
    <li>"A"</li>
    <li>"B"</li>
    <li>"C"</li>
    <li>"D"</li>
    <li>"E"</li>
  </ul>
</section>  
<section id="add-ons">
  <h2>Delorean Upgrades</h2>
  <div class="flex">
    <a href="#" title="flux-capacitor">
      <figure>

    <div class="add-col">
      <img src="./images/upgrades/flux-cap.png" alt="flux-Capacitor"></div>
      <figcaption>Flux Capacitor</figcaption>
      </figure>
    </a>
    <a href="#" title="flame decals">
      <figure>
        <div class="add-col"><img src="./images/upgrades/flame.jpg" alt="flame decal"></div>
        <figcaption>Flame Decals</figcaption>
      </figure>
    </a>

  </div>
  <div class="flex">
    <a href="#" title="bumper stickers">
      <figure>
        <div class="add-col"><img src="./images/upgrades/bumper_sticker.jpg" alt="bumper stickers"></di>
          <figcaption>Bumper Sticker</figcaption>
      </figure>
        </a>
      <a href="#" title="hub caps">
        <figure>
          <div class="add-col"><img src="./images/upgrades/hub-cap.jpg" alt="Hub Caps"></div>
        </figure>
      </a>
  </div>
</section>
</div>