/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
  text-align: center;
}

 #top-header {
  display: flex;
  justify-content: space-between;
 }

  #tools {
  font-size: 1.5vw;
  font-variant: small-caps;
  display: flex;
  width: 20%;
  justify-content: space-evenly;
}

.siteName {
  font-size: 2rem;
  font-weight: 800;
}
  

/* index.ejs styling */
 
 img {
  max-width: 100%
 }

 h1{
  font-size: 1.2em;
  font-family: 'Times New Roman', Times, serif;
 }
#hero{
  background-image: url("/images/vehicles/delorean.jpg");
  margin-right: auto;
  margin-left: auto;
  background-size: contain;
  background-position: center;
  display: flex;
  background-repeat: no-repeat;
}

#hero a:hover{
opacity: .6;
}

#hero h2 {
  margin-left: 0%;
}

#hero li {
  list-style: none;
  color: #222;
  background-color: white;
}
#hero ul {
  padding-left: 0%;
  margin-top: 0%;
  margin-bottom: 2rem;
  max-width: 200%;
  margin-left: auto;
  color: black;
  background-color: aliceblue;
}

#hero li h2 {
  margin-top: 0%;
  margin-bottom: 0%;
 color: antiquewhite;
 background-color: black;
}
 #actionbtn {
  display: inline-block;
  max-height: 10vh;
  max-width: 300px;
 }

 nav {
  background-color: var(--primary-text);
  color: var(--primary-background);

}

nav ul {
  display: flex;
  padding: 0 1vw;
  justify-content: space-around;
  background-color: black;
  color: white;
}

nav li {
  list-style: none;
  padding-top: 1em;
  padding-bottom: 1em;
}

nav a {
  color: var(--primary-background);
  text-decoration: none;
  font-size: .85rem;
  padding-top: 1em;
  padding-bottom: 1em;
}

p {
  color: var(--text-color);
}

body {
  width: 100%;
  margin: 0;  /*remove default margin */
  padding: 0;
  height: 100vh; /*full viewport height */
 /*background settings */ 
  background-image: url("/images/site/checkerboard.jpg"); /*path to your image */
  background-size: cover; /*scale to cover whole screen */
  background-position: center;  /*center the image */
  background-repeat: no-repeat; /*prevent tiling */
}

 #wrapper{
  width: 90%;
    background: white; 
    margin: 10vh auto;
    border: 5px solid blue;
} 

footer{
  text-align: center;
}
/*******************************************
     Review & Add-on - Home   
   *******************************************/
.flex-content {
    display: flex;
    justify-content: space-between;
    gap: 1vw;
  }

  #add-ons,
  #review {
    margin-top: 0;
    flex: 1 0 45%;
  }

  #review h2,
  #add-ons h2 {
    font-size: 1.4em;
    margin-bottom: 2em;
  }

  #add-ons {
    order: -1;
  }

  #review li {
    font-size: 1.1em;
  }

  #add-ons {
    width: 45%;
  }